
   <div class="family-details" fxLayout="row wrap" fxLayoutAlign="space-around center">
<form #familyDetails>
  <div class="card-block" align="center">


    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.IdFamilyType" id="familyType" name="familyType" placeholder="Choose Family Type">
        <mat-option *ngFor="let item of familyType" [value]="item.IdFamilyType">{{item.FamilyType}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
<br>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-form-field>
         <input matInput [(ngModel)]="model.FatherName" id="fatherName" name="fatherName" placeholder="Father Name">
      </mat-form-field>
    </div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">

  <mat-form-field>
     <input matInput [(ngModel)]="model.FatherOccupation" id="fatherOccupation" name="fatherOccupation" placeholder="Father Occupation">
  </mat-form-field>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
     <input matInput [(ngModel)]="model.MotherName" id="motherName" name="motherName" placeholder="Mother Name">
  </mat-form-field>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">

  <mat-form-field>
     <input matInput [(ngModel)]="model.MotherOccupation" id="motherOccupation" name="motherOccupation" placeholder="Mother Occupation">
  </mat-form-field>
</div>

<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <table>
<td><mat-form-field>
  <input type="number" matInput placeholder="Total Brothers" min="1" step="1" [(ngModel)]="model.TotalBrothers" id="totalBrothers" name="totalBrothers">
</mat-form-field><td>
<td><mat-form-field><input type="number" matInput placeholder="Married Brothers" min="1" step="1" [(ngModel)]="model.MarriedBrothers" id="marriedBrothers" name="marriedBrothers">
</mat-form-field><td>
</table>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <table>
<td><mat-form-field>
  <input type="number" matInput placeholder="Total Sisters" min="1" step="1" [(ngModel)]="model.TotalSisters" id="totalSisters" name="totalSisters">
</mat-form-field><td>
<td><mat-form-field><input type="number" matInput placeholder="Married Sisters" min="1" step="1" [(ngModel)]="model.MarriedSisters" id="marriedSisters" name="marriedSisters">
</mat-form-field><td>
</table>
</div>
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">

       <mat-form-field>
          <input matInput name="MobileNumber" id="MobileNumber" [(ngModel)]="model.mobileNum" placeholder="Enter Mobile Number">
       </mat-form-field>

</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
<mat-form-field>
<textarea class="form-control" matInput [(ngModel)]="model.Address" id="address" name="address" placeholder="Family Address"></textarea>
</mat-form-field>
</div>
<br>
</div>
</form>
</div>
