
   <div class="family-details" fxLayout="row wrap" fxLayoutAlign="space-around center">
<form #familyDetails>
  <div class="card-block" align="center">



    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.IdFamilyType" id="IdFamilyType" name="IdFamilyType" placeholder="Choose Family Type">
        <mat-option *ngFor="let item of familyType" [value]="item.IdFamilyType">{{item.FamilyType}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
<br>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-form-field>
         <input matInput [(ngModel)]="model.FatherName" id="FatherName" name="FatherName" placeholder="Father Name">
      </mat-form-field>
    </div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">

  <mat-form-field>
     <input matInput [(ngModel)]="model.FatherOccupation" id="FatherOccupation" name="FatherOccupation" placeholder="Father Occupation">
  </mat-form-field>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
     <input matInput [(ngModel)]="model.MotherName" id="MotherName" name="MotherName" placeholder="Mother Name">
  </mat-form-field>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">

  <mat-form-field>
     <input matInput [(ngModel)]="model.MotherOccupation" id="MotherOccupation" name="MotherOccupation" placeholder="Mother Occupation">
  </mat-form-field>
</div>

<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <table>
<td><mat-form-field>
  <input type="number" matInput placeholder="Total Brothers" min="1" step="1" [(ngModel)]="model.TotalBrothers" id="TotalBrothers" name="TotalBrothers">
</mat-form-field><td>
<td><mat-form-field><input type="number" matInput placeholder="Married Brothers" min="1" step="1" [(ngModel)]="model.MarriedBrothers" id="MarriedBrothers" name="MarriedBrothers">
</mat-form-field><td>
</table>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <table>
<td><mat-form-field>
  <input type="number" matInput placeholder="Total Sisters" min="1" step="1" [(ngModel)]="model.TotalSisters" id="TotalSisters" name="TotalSisters">
</mat-form-field><td>
<td><mat-form-field><input type="number" matInput placeholder="Married Sisters" min="1" step="1" [(ngModel)]="model.MarriedSisters" id="MarriedSisters" name="MarriedSisters">
</mat-form-field><td>
</table>
</div>
<br>



<div fxLayout="row wrap" fxLayoutAlign="space-around center">

       <mat-form-field>
          <input matInput name="PhoneNumber" id="PhoneNumber" [(ngModel)]="model.PhoneNumber" placeholder="Enter Mobile Number">
       </mat-form-field>

</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
<mat-form-field>
<textarea class="form-control" matInput [(ngModel)]="model.Address" id="Address" name="Address" placeholder="Family Address"></textarea>
</mat-form-field>
</div>
<br>
</div>
</form>
</div>
