
<div class="blocks" fxFlex>
  <a routerLink="/layout/home" mat-button>Home</a>
</div>
<div class="blocks" fxFlex = "60%" fxLayoutAlign="space-around center">
  <button mat-button [matMenuTriggerFor]="menu">Profiles</button>
  <mat-menu #menu="matMenu">
    <a routerLink="/layout/profiles/add-profile" mat-menu-item>Add New Profile</a>
    <a routerLink="/layout/profiles/view-profile" mat-menu-item>View Our Profiles</a>
  </mat-menu>
</div>
<div class="blocks" fxFlex>
  <a routerLink="/login" mat-button>Signout</a>
</div>
