<table valign="top" width="100%" border="1">

  <tr style="height:50px;">
    <td align="center">
        <a routerLink="/home">HOME</a>
    </td>
  </tr>

  <tr style="height:50px;">
    <td align="center">
        <a routerLink="/aboutus">ABOUT US</a>
    </td>
  </tr>

  <tr style="height:50px;">
    <td align="center">
        <a routerLink="/contactus">CONTACT US</a>
    </td>
  </tr>

  <tr style="height:50px;">
    <td align="center">
        <a routerLink="/help">HELP</a>
    </td>
  </tr>

  <tr style="height:50px;">
    <td align="center">
        <a routerLink="/employee">EMPLOYEE</a>
    </td>
  </tr>

</table>
