<table valign="top" width="100%" border="1">

  <th>
    <a routerLink="/home">Home</a>
  </th>

  <th align="center">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Profiles
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a routerLink="/home/profiles/add-profile">Add New Profile</a></li>
        <li><a href="#">View Our Profiles</a></li>
      </ul>
    </div>
  </th>

  <th>
    <a routerLink="/login">Signout</a>
  </th>

</table>
