<div class="religion-details" fxLayout="row wrap" fxLayoutAlign="space-around center">
<form #religionDetails>
  <div class="card-block" align="center">

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.IdReligion" id="religiontypes" name="religiontypes" placeholder="Select Your Religion">
        <mat-option *ngFor="let item of religion" [value]="item.IdReligion">{{item.ReligionName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.IdCaste" id="castetypes" name="castetypes" placeholder="Select Your Caste">
        <mat-option *ngFor="let item of caste" [value]="item.IdCaste">{{item.CasteName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.IdSubCaste" id="subcastetypes" name="subcastetypes" placeholder="Select Your Sub-Caste">
        <mat-option *ngFor="let item of subcaste" [value]="item.IdSubCaste">{{item.SubCasteName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

<br>

      <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <mat-form-field>
            <mat-select [(ngModel)]="model.IdMaritalStatus" id="gotratypes" name="gotratypes" placeholder="Select Your Gotra">
              <mat-option *ngFor="let item of gotraType" [value]="item.IdGothra">{{item.GothraName}}</mat-option>
            </mat-select>
            </mat-form-field>
          </div>

<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.IdNakshatra" id="nakshatra" name="nakshatra" placeholder="Select Your Nakshatra">
        <mat-option *ngFor="let item of nakshatra" [value]="item.IdNakshatra">{{item.NakshatraName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.IdRashi" id="rashi" name="rashi" placeholder="Select Your Rashi">
        <mat-option *ngFor="let item of rashi" [value]="item.IdRashi">{{item.RashiName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

<br>

      <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <mat-form-field>
            <mat-select [(ngModel)]="model.idMaritalStatus" id="mothertongue" name="mothertongue" placeholder="Mother Tongue">
              <mat-option *ngFor="let item of motherTongue" [value]="item.IdLanguage">{{item.LanguageName}}</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
<br>
</div>
</form>
</div>
