<div class="religion-details" fxLayout="row wrap" fxLayoutAlign="space-around center">
<form #religionDetails>
  <div class="card-block" align="center">

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.idMaritalStatus" id="religiontypes" name="religiontypes" placeholder="Select Your Religion">
        <mat-option *ngFor="let item of religion" [value]="item.IdReligion">{{item.ReligionName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.idMaritalStatus" id="castetypes" name="castetypes" placeholder="Select Your Caste">
        <mat-option *ngFor="let item of caste" [value]="item.IdCaste">{{item.CasteName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.idMaritalStatus" id="subcastetypes" name="subcastetypes" placeholder="Select Your Sub-Caste">
        <mat-option *ngFor="let item of subcaste" [value]="item.IdSubCaste">{{item.SubCasteName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

<br>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-form-field>
         <input matInput [(ngModel)]="model.name" id="name" name="name" placeholder="Type Your Gotra">
      </mat-form-field>
    </div>

<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.idMaritalStatus" id="nakshatra" name="nakshatra" placeholder="Select Your Nakshatra">
        <mat-option *ngFor="let item of nakshatra" [value]="item.IdNakshatra">{{item.NakshatraName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

<br>


<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.idMaritalStatus" id="rashi" name="rashi" placeholder="Select Your Rashi">
        <mat-option *ngFor="let item of rashi" [value]="item.IdRashi">{{item.RashiName}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

<br>

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-form-field>
         <input matInput [(ngModel)]="model.name" id="name" name="name" placeholder="Mother Tongue">
      </mat-form-field>
    </div>
<br>
</div>
</form>
</div>
