<form>
<table>
<div class="religion-details">

  <div class="form-group">
  <label for="religionstatus">Select Your Religion:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select name="religionstatus" id="religionstatus" class="form_dropdown" data-placeholder="Select">
      <option value="" label="" selected="selected"></option>
      <option value="Hindu" label="Hindu">Hindu</option>
      <option value="Muslim" label="Muslim">Muslim</option>
      <option value="Christ" label="Christ">Christ</option>
      <option value="Jain" label="Jain">Jain</option>
      <option value="Sikh" label="Sikh">Sikh</option>
   </select>
   </div>


   <div class="form-group">
   <label for="castestatus">Select Your Caste:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <select name="castestatus" id="castestatus" class="form_dropdown" data-placeholder="Select">
       <option value="" label="" selected="selected"></option>
       <option value="Hindu" label="Hindu">Brahmin</option>
       <option value="Muslim" label="Muslim">Muslim</option>
       <option value="Christ" label="Christ">Christ</option>
       <option value="Jain" label="Jain">Jain</option>
       <option value="Sikh" label="Sikh">Sikh</option>
    </select>
    </div>

    <div class="form-group">
    <label for="castestatus">Select Your Sub Caste:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="castestatus" id="castestatus" class="form_dropdown" data-placeholder="Select">
        <option value="" label="" selected="selected"></option>
        <option value="Hindu" label="Hindu">Brahmin</option>
        <option value="Muslim" label="Muslim">Muslim</option>
        <option value="Christ" label="Christ">Christ</option>
        <option value="Jain" label="Jain">Jain</option>
        <option value="Sikh" label="Sikh">Sikh</option>
     </select>
     </div>

<br>
  <div class="form-group">
    <label for="name">Gotra:</label>
    <input type="text" class="form-control" [(ngModel)]="model.name" id="name" name="name">
  </div>

<br>


<div class="form-group">
<label for="castestatus">Select Your Star(Nakshatra):</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select name="castestatus" id="castestatus" class="form_dropdown" data-placeholder="Select">
    <option value="" label="" selected="selected"></option>
    <option value="Hindu" label="Hindu">Brahmin</option>
    <option value="Muslim" label="Muslim">Muslim</option>
    <option value="Christ" label="Christ">Christ</option>
    <option value="Jain" label="Jain">Jain</option>
    <option value="Sikh" label="Sikh">Sikh</option>
 </select>
 </div>


 <div class="form-group">
 <label for="castestatus">Select Your Rashi:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select name="castestatus" id="castestatus" class="form_dropdown" data-placeholder="Select">
     <option value="" label="" selected="selected"></option>
     <option value="Hindu" label="Hindu">Brahmin</option>
     <option value="Muslim" label="Muslim">Muslim</option>
     <option value="Christ" label="Christ">Christ</option>
     <option value="Jain" label="Jain">Jain</option>
     <option value="Sikh" label="Sikh">Sikh</option>
  </select>
  </div>



   <div class="form-group">
   <label for="castestatus">Select Your Mother tongue:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <select name="castestatus" id="castestatus" class="form_dropdown" data-placeholder="Select">
       <option value="" label="" selected="selected"></option>
       <option value="Hindu" label="Hindu">Brahmin</option>
       <option value="Muslim" label="Muslim">Muslim</option>
       <option value="Christ" label="Christ">Christ</option>
       <option value="Jain" label="Jain">Jain</option>
       <option value="Sikh" label="Sikh">Sikh</option>
    </select>
    </div>

  </div>
</table>

</form>
