<div class="personal-details" fxLayout="row wrap" fxLayoutAlign="space-around center">
<form #personalDetails>
  <div class="card-block" align="center">

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-form-field>
         <input matInput [(ngModel)]="model.Name" id="Name" name="Name" placeholder="Enter Your Name">
      </mat-form-field>
    </div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">

<mat-radio-group class="example-radio-group" [(ngModel)]="model.IdGender" name="IdGender" id="IdGender">
  <mat-radio-button class="example-radio-button" *ngFor="let item of genders" [value]="item.IdGender">
    {{item.GenderName}}&nbsp;&nbsp;
  </mat-radio-button>
</mat-radio-group>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">

       <mat-form-field>
          <input matInput name="MobileNumber" id="MobileNumber" [(ngModel)]="model.MobileNumber" placeholder="Enter Mobile Number">
       </mat-form-field>

</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <input type="file" name="ProfilePicPath" id="ProfilePicPath" (change)="onSelectFile($event)" accept="image/gif, image/jpeg" title="Choose Profile Picture" class="btn btn-primary">
  <label for="selectPic"  placeholder="Add Profile Picture"></label>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">

<mat-form-field>
  <input matInput [matDatepicker]="picker" [(ngModel)]="model.DOB" placeholder="Date of Birth"  id="DOB" name="DOB">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi="true" #picker></mat-datepicker>
</mat-form-field>
</div>
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
<mat-form-field>
    <input matInput placeholder="Enter Email" [(ngModel)]="model.Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
    Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
    Email is <strong>required</strong>
    </mat-error>
</mat-form-field>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
  <mat-select [(ngModel)]="model.IdMaritalStatus" id="IdMaritalStatus" name="IdMaritalStatus" placeholder="Choose Marital Status:">
    <mat-option *ngFor="let item of maritalstatus" [value]="item.IdMaritalStatus">{{item.StatusName}}</mat-option>
  </mat-select>
  </mat-form-field>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
<table align="center"><td><mat-form-field>
<input type="number" matInput placeholder="Your Height" min="3.0" max="7.11" step="0.1" [(ngModel)]="model.Height" id="Height" name="Height">
</mat-form-field></td></table>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
<mat-radio-group class="example-radio-group" [(ngModel)]="model.IdEatingHabbits" id="IdEatingHabbits" name="IdEatingHabbits">
  <mat-radio-button class="example-radio-button" *ngFor="let item of eatingHabbitType" [value]="item.IdEatingHabit">
Am {{item.EatingHabitName}}&nbsp;&nbsp;
  </mat-radio-button>
</mat-radio-group>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
<mat-form-field>
<textarea class="form-control" matInput  [(ngModel)]="model.PhysicalDisabilities" id="PhysicalDisabilities" name="PhysicalDisabilities" placeholder="If you have any disability? "></textarea>
</mat-form-field>
</div>
<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
<mat-form-field>
<textarea class="form-control" matInput  [(ngModel)]="model.AboutMe" id="AboutMe" name="AboutMe" placeholder="Say About Yourself"></textarea>
</mat-form-field>
</div>
<br>
</div>
</form>
</div>
