
<div class="login" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <form #loginForm>
        <div class="card-block" align="center">
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [(ngModel)]="loginModel.emailId" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Password" [(ngModel)]="loginModel.password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="emailFormControl.hasError('required')">
                Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <button mat-raised-button color="primary" (click)="onLoginClick()">Login</button>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <a [routerLink]="'/signUp'" mat-button>Create an account</a>
            </div> 
        </div>
    </form>
</div>
