<div class="professional-details" fxLayout="row wrap" fxLayoutAlign="space-around center">
<form #professionalDetails>
  <div class="card-block" align="center">

<br>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-form-field>
          <mat-select [(ngModel)]="model.IdQualification" id="IdQualification" name="IdQualification" placeholder="Highest Qualification">
            <mat-option *ngFor="let item of qualificationType" [value]="item.IdQualification">{{item.QualificationName}}</mat-option>
          </mat-select>
          </mat-form-field>
        </div>
<br>
<div fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field>
      <mat-select [(ngModel)]="model.IdEmployement" id="IdEmployement" name="IdEmployement" placeholder="Employment Type">
        <mat-option *ngFor="let item of employmentType" [value]="item.IdEmployement">{{item.EmployementType}}</mat-option>
      </mat-select>
      </mat-form-field>
    </div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <mat-form-field>
           <input matInput [(ngModel)]="model.Occupation" id="Occupation" name="Occupation" placeholder="Occupation">
        </mat-form-field>
  </div>

<br>



<div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <mat-form-field>
           <input type="number" step="1000" min="3000" matInput id="MothtlyIncome" name="MothtlyIncome" [(ngModel)]="model.MothtlyIncome" placeholder="Monthly Income">
        </mat-form-field>
  </div>

<br>
<div fxLayout="row wrap" fxLayoutAlign="space-around center">
<mat-form-field>
<textarea class="form-control" matInput [(ngModel)]="model.WorkLocation" id="WorkLocation" name="WorkLocation" placeholder="Work Location"></textarea>
</mat-form-field>
</div>

<br>

<div fxLayout="row wrap" fxLayoutAlign="space-around center">
<mat-form-field>
<textarea class="form-control" matInput [(ngModel)]="model.OfficeAddress" id="OfficeAddress" name="OfficeAddress" placeholder="Office Address"></textarea>
</mat-form-field>
</div>

<br>

</div>
</form>
</div>
